:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  text-align: center;
}

.navlink {
  display: inline-block;
  width: 200px;
  height: 35px;
  border: white;
  font-size: 20px;
  background-color: #1d3b58;
  color: white;
}

.cardInfo{
  display: inline-block;
  border: white;
  background-color: #1d3b58;
  color: white;
  margin-top: 10px;
  text-align: center;
}

tr{
  border: black
}
